# Ignore everything in this directory
target
.classpath
.settings
.project
.idea
.DS_Store
*.iml
*.ipr
*.iws
*.db

# Maven generated resource files
features/org.wso2.carbon.business.messaging.core.feature/src/main/resources
