{{css '/css/modal.css'}}
<!-- Common Modal -->
<div class="modal fade" id="modal-id" tabindex="-1" role="dialog" aria-labelledby="modalDemo">
    <div class="modal-dialog" role="document">
        <div class="modal-content clearfix">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fw fw-cancel"></i></button>
                <h3 class="modal-title"><span id="modal-message-id"></span></h3>
            </div>
            <div class="pull-right">
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="modal-primary-button-id"><span id="modal-primary-button-text"></span></button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>