{{css 'css/alert.css'}}

{{#if alert.success}}
    <div class="alert alert-success mb-alert-hide" role="alert" id="success-alert-id">
        <i class="icon fw fw-success"></i><strong>Success!</strong>
        <span id="success-alert-message"></span>
        <button type="button" class="close" aria-label="close" data-hide="alert">
                        <span aria-hidden="true">
                            <i class="fw fw-cancel"></i>
                        </span>
        </button>
    </div>
{{/if}}
{{#if alert.info}}
    <div class="alert alert-info mb-alert-hide" role="alert" id="info-alert-id">
        <i class="icon fw fw-warning"></i><strong>Info!</strong>
        <span id="info-alert-message"></span>
        <button type="button" class="close" aria-label="close" data-dismiss="alert">
                        <span aria-hidden="true">
                            <i class="fw fw-cancel"></i>
                        </span>
        </button>
    </div>
{{/if}}
{{#if alert.warning}}
    <div class="alert alert-warning mb-alert-hide" role="alert" id="warning-alert-id">
        <i class="icon fw fw-info"></i><strong>Warning!</strong>
        <span id="warning-alert-message"></span>
        <button type="button" class="close" aria-label="close" data-dismiss="alert">
                        <span aria-hidden="true">
                            <i class="fw fw-cancel"></i>
                        </span>
        </button>
    </div>
{{/if}}
{{#if alert.danger}}
    <div class="alert alert-danger mb-alert-hide" role="alert" id="danger-alert-id">
        <i class="icon fw fw-error"></i><strong>Error!</strong>
        <span id="danger-alert-message"></span>
        <button type="button" class="close" aria-label="close" data-hide="alert">
                        <span aria-hidden="true">
                            <i class="fw fw-cancel"></i>
                        </span>
        </button>
    </div>
{{/if}}