{{headJs "js/broker-details.js"}}
<table class="table table-responsive table-striped" id="broker-details">
    <thead>
    <tr>
        <th>Property</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>