<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Andes REST service unit test suite">
    <test name="Andes REST service unit test" >
        <classes>
            <class name="org.wso2.carbon.andes.rest.tests.unit.BrokerDetailsTestCase"/>
            <class name="org.wso2.carbon.andes.rest.tests.unit.MessagesTestCase"/>
            <class name="org.wso2.carbon.andes.rest.tests.unit.DestinationsTestCase"/>
            <class name="org.wso2.carbon.andes.rest.tests.unit.PaginationTestCases"/>
        </classes>
    </test>
</suite>
