{{headJs "js/cluster-details.js"}}
<h4 id="node-id">Nodes ID : </h4>
<h4 id="cluster-mode">Running in Cluster Mode...</h4>
<h4 id="standalone-mode">Running in Standalone Mode...</h4>
<table class="table table-responsive table-striped" id="cluster-details">
    <thead>
    <tr>
        <th>ID</th>
        <th>Hostname</th>
        <th>Port</th>
        <th>Coordinator</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>