.treeControl ul{
    padding:0px;
    margin:0px;
}

.treeControl ul li{
    list-style:none;
    padding-left:15px;
    padding-top:5px;
    white-space:nowrap;
}
.treeControl ul li a.plus{
    background-image:url(../images/plus.gif);
    background-repeat:no-repeat;
    background-position:0px 2px;
    padding-left:15px;
    cursor:pointer;
}
.treeControl ul li a.minus{
    background-image:url(../images/minus.gif);
    background-repeat:no-repeat;
    background-position:0px 2px;
    padding-left:15px;
    cursor:pointer;
}
.treeControl ul li a.nodata{
    background-image:url(../images/nodata.gif);
    background-repeat:no-repeat;
    background-position:0px 2px;
    padding-left:15px;
    cursor:pointer;
}
.treeControl ul li a.treeNode{
    cursor:pointer;
    color:#4c99c3;
}
.currentNodeDetailsDiv{
    background-color:rgba(10,46,38,0.15);
    width:100%;
    height:100px;
    border:1px solid #000;
}
.nodeIDText{
    font-size:30px;
    margin-left: 5px;
    margin-right: 5px;
}
.runningModeText{
    margin-left:15px;
}